/* ImageComponent.css */

.wrapper {
  background-color: #172C39;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #172C39;
  background-image: url('./images/LeagueBackGround.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.center-image {
  width: 450px;
  height: 180px;
  object-fit: cover;
}

.custom-button {
  background-color: #0BC6E3;
  color: black;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #13D8F6;
}
