/* Champions.css */
body {
  background-color: #172C39; 
  background-attachment: fixed;
}

.champion-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center; 
    align-items: center;
  }
  

.champion-box {
  text-align: center;
  background-color: #061C25; 
  padding: 10px; 
  border-radius: 5px;
  transition: background-color 0.3s ease; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.champion-box:hover {
  background-color: #006680; 
}

.champion-box img {
  width: 100%;
  height: auto;
  max-width: 200px; 
  max-height: 200px;
}

.champion-box p {
  color: white; 
  font-size: 18px; 
  font-weight: bold;
  transition: font-size 0.3s ease; 
}

.champion-box:hover p {
  font-size: 20px;
}
