/* Champions.css */
.champion-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.champion-box {
  text-align: center;
}

.champion-box img {
  width: 100%;
  height: auto;
  max-width: 200px; 
  max-height: 200px;
}
