.News {
  display: flex;
  background-color: #172C39;
  padding: 10px; 
}

.column {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #172C39; 
  text-align: center; 
}

.larger-column {
  flex: 2;
}


.column img {
  max-width: 100%; 
  height: auto; 
}
