.News {
  display: flex;
  background-color: #172C39; /* Background color outside columns */
  padding: 10px; /* Adjust the padding to your preference */
}

.column {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #172C39; /* Background color inside columns */
}

.larger-column {
  flex: 2;
}
