/* Navbar.css */
.navbar {
    background-color: #0D171F;
    color: white;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar li {
    padding: 10px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
  }

  /* Style for the League of Legends logo image */
.logo-image {
  width: 40px; /* Set your desired width */
  height: 40px; /* Set your desired height */
}
  